{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
  <h1 class="text-2xl blog-title font-bold mb-6">Register</h1>
  <form method="post" class="blog-form space-y-4 p-6 rounded-none border-4 blog-image transition-all duration-700 ease-in-out animate-fade-in">
    {% csrf_token %}
    <div class="space-y-2 transition-all duration-700 ease-in-out">
      {% for field in form %}
        <div>
          <label for="{{ field.id_for_label }}" class="block text-sm blog-label font-medium mb-1">{{ field.label }}</label>
          {{ field|add_class:"blog-input px-4 py-2 rounded-none w-full border focus:outline-none focus:ring-2 focus:ring-blue-500" }}
          {% if field.errors %}
            <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <button type="submit" class="px-6 py-2 bg-dark-teal hover:bg-neon-pink text-light-text font-medium rounded-none transition-all duration-300 blog-button hover:shadow-none hover:-translate-y-1 hover:-translate-x-1">Register</button>
    <p class="mt-4 blog-text">Already have an account? <a href="{% url 'accounts:login' %}" class="blog-link hover:text-neon-pink">Log in here</a></p>
  </form>
{% endblock %}